<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.nombre}}</h3>
                    <h4>{{user.username}}</h4>
                    <a href="/links/addDeUsuario" class="btn btn-primary m-2">
                        Agregar nuevo mensaje.
                    </a>
                    <a href="/links/mensajesDeUs" class="btn btn-secondary m-2">
                        Ver mis mensajes.
                    </a>
                    <a href="#" class="btn btn-warning m-2">
                        Chatear con el bot.
                    </a>
                </div>
            </div>
                <a href="mainPage"><i class="fas fa-long-arrow-alt-left"></i>
    Regresar al inicio
    </a>
        </div>
    </div>
</div>