<div class="container p-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.nombre}}</h3>
                    <h4>{{user.username}}</h4>
                    <div class="col-md-8 mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                    <a href="/links/invitadoMensaje" class="btn btn-primary m-4">
                        Responder a invitados.
                    </a>
                    </div>
            </div>
        </div>
        <div class="col-md-8 mx-auto">
                        <div class="card text-center">
                            <div class="card-body">
                    <a href="/links/usuarioMensajes" class="btn btn-primary m-4">
                        Responder a usuarios
                    </a>
                    </div>
            </div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>