<div class="container">
  <div class="card border border-white">
    <div class="row">
      
      <div
        class="card-header d-flex justify-content-center border border-warning width-auto"
      >
        <h3>Selecciona una opción:</h3>
        
      </div>
      <div class="card-body d-flex border border-warning">
        <div class="col-md-4 d-flex justify-content-center">
          <a href="addDeInvitado">
              Crear consulta como invitado
          </a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <a href="addDeUsuario">
              Crear consulta como usuario
          </a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <a href="chatbot">
              Consultar al bot
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="regresar">
    <a href="mainPage"><i class="fas fa-long-arrow-alt-left"></i>
    Regresar al inicio
    </a>

  </div>
</div>