<div class="main">
    <div class="cupon">
        <a href="#">
            <img src="/img/cupon.JPG" class="banner">
        </a>
    </div>
<div class="container">
    <div class="showcase">
        <h2>Nuevas ofertas</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti eum, porro ipsum animi molestiae reiciendis natus numquam facere maxime veritatis eveniet maiores ipsam id quos.</p>
        <a href="#" class="btn">Obtener Oferta <i class="fas fa-angle-double-right"></i></a>
    </div>
    <div class="products-cards">
        <div class="border border-warning">
 <div class="productos">
            <img src="/img/producto1.jpg" alt="">
            <hr class="border border-warning">
            <h3>CASTANHA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="">COMPRAR</a>
 </div>
        </div>
        <div class="border border-warning">
             <div class="productos">
            <img src="/img/producto2.jpg" alt="">
            <hr class="border border-warning">
            <h3>TUKUM</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="">COMPRAR</a>
             </div>
        </div>
        <div class="border border-warning">
            <div class="productos">
            <img src="/img/producto3.jpg" alt="">
            <hr class="border border-warning">
            <h3>PATUÁ</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="">COMPRAR</a>
            </div>
        </div>
        <div class="border border-warning">
            <div class="productos">
            <img src="/img/producto4.jpg" alt="">
            <hr class="border border-warning">
            <h3>ACAÍ</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="">COMPRAR</a>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="footer">
  <div class="container ">
      <div class="nav-main">
          <ul class="nav-menu">
            <li>
              <a href="#">
                  <i class="fas fa-truck"></i> Conocé los tiempos de entrega
              </a>
            </li>
            <li>
              <a href="#">
                  <i class="fas fa-shopping-bag"></i> Ofertas especiales
              </a>
            </li>
            <li>
              <a href="#">
                  <i class="fas fa-map-marker-alt"></i>Encontrá Natura
              </a>
            </li>
            <li>
              <a href="/links/ayudaContacto">
                 <i class="far fa-life-ring"></i> Ayuda y Contacto
              </a>
            </li>
  </div>
</footer>

